html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

main {
  min-height: calc(100vh - 188px);
  width: 100%;
  background: #ff7f50;
  margin-bottom: 0px;
  overflow-x: auto !important;
  white-space: nowrap;
}

#board-container {
  min-height: calc(100vh - 188px);
  width: 100%;
  height: 100%;
  overflow-x: auto !important;
  display: flex;
  flex-direction: row;
}

/* ========================= NAV ========================= */
.brandIcon {
  display: inline-block;
  vertical-align: top;
  margin-right: 5%;
}

/* ======================= BOARD AND CARD ========================= */

.threedots:after {
  content: "\2807";
  font-size: 30px;
  display: inline-block;
  margin-left: auto;
  margin-right: -8px;
  cursor: pointer;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
