body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

main {
  height: calc(100vh - 128px);
  background: #ff7f50;
}

/* ========================= NAV ========================= */
.brandIcon {
  display: inline-block;
  vertical-align: top;
  margin-right: 5%;
}

#header {
  height: 64px;
}

#footer {
  height: 64px;
  color: white;
}

#toolbar {
  height: 48px;
  color: white;
  background: grey;
}

/* ======================= BOARD AND CARD ========================= */

#board-container {
  display: flex;
  justify-content: space-between;

  overflow-x: auto;
  overflow-y: auto;

  height: calc(100vh - 190px);
  width: 100%;

  margin: 0px 0px;
  padding: 16px 16px;
}

.board-top {
  display: flex;
  margin-bottom: 16px;
}

.board-name {
  margin-top: 4px;
  display: inline-block;
  margin-right: auto;
  vertical-align: middle;
}

.threedots:after {
  content: "\2807";
  font-size: 30px;
  display: inline-block;
  margin-left: auto;
  margin-right: -8px;
}

.card-container {
  justify-content: space-between;
  height: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  margin-bottom: 8px;
  min-height: 64px;
}

.card {
  margin-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 2px;
}

.tag-container {
  display: block;
}

.tag-container > span {
  display: inline-block;
  margin-right: 4px;
}

.card-pin {
  display: inline block;
  margin-left: auto;
  cursor: pointer;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
